/* keys // broad strokes */

.keys {
  text-align: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

.key-row {
  display: inline-block;
  height: 3em;
  margin: 0.2em;
}

.key-row > div[data-pressed],
.key-row > div:active {
  background: #2a2a2a;
  color: #aaa;
  position: relative;
  top: 0.2em;
  box-shadow: 0 0 0 0.05em black;
}

.key-row > * {
  position: relative;
  background: #333;
  text-align: center;
  color: #eee;
  float: left;
  border-radius: 0.3em;
  margin: 0.3em;
  padding: 0.2em;
  width: 3.3em;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #444;
  box-shadow: 0 0.2em 0 0.05em #222;
  border-bottom-color: #555;
}

/* keys // specifics */

.row-1 {
  height: 1.7em;
  line-height: 1.4em;
}

.double {
  padding-top: 0.2em;
  width: 3.62em;
}

.letter {
  line-height: 2.4em;
  width: 3.63em;
}

.backspacetab {
  width: 7em;
}

.capsenter {
  width: 7.4em;
}

.shift {
  width: 9.55em;
}

.stack {
  padding-top: 0.2em;
}

.bottomctrl {
  width: 6em;
  padding-right: 3em;
  padding-top: 0.8em;
}

.bottom {
  width: 4em;
}

.space {
  width: 20.5em;
}
